<section>
  <div>
    <button md-raised-button (click)="newPackageOpen = !newPackageOpen" *ngIf="user && !newPackageOpen">{{ 'ADD_NEW_PACKAGE' | translate }}</button>
    <packs-form *ngIf="user && newPackageOpen"></packs-form>
  </div>
  <md-input type="search" placeholder="Filter" [(ngModel)]="filter" (ngModelChange)="updateFilter()"></md-input>
  <a md-line [routerLink]="['/package', pack._id]" *ngFor="let pack of packsFiltered">
    <md-card>
      <md-card-content>
        {{pack._id}}
      </md-card-content>
      <md-card-footer>
        <md-progress-bar mode="determinate" value="{{ pack.progression * 100 }}"></md-progress-bar>
      </md-card-footer>
    </md-card>
  </a>
  <!--<p *ngIf="allPacks.count() !== 0 && packsFiltered.length === 0">No packages with the current filter</p>
  <p *ngIf="allPacks.count() === 0 | async">No packages</p>-->
</section>
