<md-toolbar>
  <a md-icon-button [routerLink]="['/']">
    <md-icon>arrow back</md-icon>
  </a>
  <div class="md-toolbar-tools">
    <h3>{{pack ? pack._id : 'No package with this name'}}</h3>
  </div>
  <span class="fill-remaining-space"></span>
  <a md-icon-button [routerLink]="['/package', pack._id, 'config']" *ngIf="isAdmin && pack">
    <md-icon>settings</md-icon>
  </a>
</md-toolbar>
<section>
  <md-card *ngIf="isAdmin && pack">
    <code>npm install {{ scope }}/{{ pack._id }}</code>
    <button md-raised-button (click)="publish()" i18n>Publish</button>
  </md-card>
  <div *ngIf="pack">
    <translations-list></translations-list>
  </div>
</section>
