<md-card>
  <md-card-header>
    <md-card-title>New package</md-card-title>
  </md-card-header>
  <form [formGroup]="addForm" (ngSubmit)="addPack()">
    <md-card-content>
      <div>
        <md-input type="text" formControlName="name" placeholder="Name of the new package"></md-input>
      </div>
      <div>
        <label>Lang</label>
        <select formControlName="lang">
          <option *ngFor="let lang of langs | async" [value]="lang._id">{{lang.name}}</option>
        </select>
      </div>
      <md-radio-group [(value)]="format">
        <md-radio-button value="json">JSON</md-radio-button>
        <md-radio-button value="xliff">XLIFF</md-radio-button>
      </md-radio-group>
    </md-card-content>
    <md-card-actions align="end">
      <button md-button>CANCEL</button>
      <button md-button type="submit">ADD</button>
    </md-card-actions>
  </form>
</md-card>
