<div>
  <packs-form *ngIf="user"></packs-form>
  <div>
    <md-input type="search" placeholder="Filter" [(ngModel)]="filter" (ngModelChange)="updateFilter()"></md-input>
    <md-list>
      <md-list-item *ngFor="let pack of packsFiltered">
        <a md-line [routerLink]="['/package', pack._id]">
          {{pack._id}}
          <span>{{ pack.progression | percent }}</span>
        </a>
      </md-list-item>
    </md-list>
    <!--<p *ngIf="packs.count() !== 0 && packsFiltered.length === 0">No packages with the current filter</p>
    <p *ngIf="packs.count() === 0 | async">No packages</p>-->
  </div>
</div>