<div *ngIf="pack">
  <md-toolbar>
    <a md-icon-button [routerLink]="['/package', pack._id]">
      <md-icon>arrow back</md-icon>
    </a>
    <div class="md-toolbar-tools">
      <h3>Config of {{ pack._id }}</h3>
    </div>
  </md-toolbar>
  <section>
    <h3>Langs</h3>
    <ul>
      <li *ngFor="let lang of pack.langs">
        {{ lang | displayLang | async }}
        <button *ngIf="pack.langs.length > 1" (click)="delete(lang)">x</button>
      </li>
    </ul>
    <form [formGroup]="addLangForm" (ngSubmit)="addLang()">
      <label>New lang</label>
      <select formControlName="lang">
        <option *ngFor="let lang of langs | async" [value]="lang._id">{{lang.name}}</option>
      </select>
      <button md-raised-button type="submit">Add</button>
    </form>
    <h3>Update main JSON file</h3>
    <form [formGroup]="addJsonForm" (ngSubmit)="addJson()">
      <input formControlName="jsonFile" type="file" accept=".json" (change)="fileChangeEvent($event)">
      <button md-raised-button type="submit">Add</button>
    </form>
  </section>
</div>