<div *ngIf="translations">
  <label>
    <input type="checkbox" [(ngModel)]="showOnlyMissing">
    Only display missing tranlations
  </label>
  <div>
    <span *ngFor="let lang of langs">
      <input type="checkbox" [(ngModel)]="lang.isDisplay">
      {{ lang.id | displayLang }}
    </span>
  </div>
  <table>
    <tr>
      <th>Key</th>
      <th *ngFor="let lang of langs">
        <span *ngIf="lang.isDisplay">
          {{ lang.id | displayLang }}
          <span>{{ lang.progression }}%</span>
        </span>
      </th>
      <th *ngIf="isAdmin"></th>
    </tr>
    <tr *ngFor="let translation of translations">
      <td>{{ translation.key }}</td>
      <td *ngFor="let lang of langs">
        <input *ngIf="lang.isDisplay && !!user" type="text" [(ngModel)]="translation.langs[lang.id]">
        <span *ngIf="lang.isDisplay && !user">{{ translation.langs[lang.id] }}</span>
      </td>
      <td *ngIf="isAdmin">
        <button (click)="delete(translation)">x</button>
      </td>
    </tr>
  </table>
  <button *ngIf="!!user" (click)="save()">Save translations</button>
</div>
<p *ngIf="!translations">No translations</p>
<translations-form *ngIf="isAdmin"></translations-form>